body {     
    font-family: 'Gugi', cursive;
    color: white;
    background-image: url('../images/underBg.jpg');
    background-attachment: fixed;
}
h1 {
    padding-top: 2rem;
    padding-bottom: 2rem; 
    font-size: 4rem;
}
p {
    font-size: 1.2rem;
}
.resumeUnder {
    margin-top: 1rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
}
.card {
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
}

.card-title {
    text-decoration: underline;
}

.card-img-top {
    padding: 2rem;
}

.card-deck {
    margin: 1rem;
}