body {
    font-family: 'Gugi', cursive;
    background-image: url('../images/microphone.jpg');
    height: auto;
}
.navbar, .presentation, .jumbotron, .card {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}
.container {
    margin-top:5rem;
}
.jumbotron {
    margin-bottom:0;
    margin-top:2rem;
}
.updateFormUser {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}
.btnUpdateForm {
    background-color: black;
    color: #ffcc00;
    border-color: #ffcc00;
}
.btnUpdateForm:hover {
    background-color: #ffcc00;
    color: black;
    border-color: black;
}
.buttonReturn {
    padding: 1rem;
}
.btnDeleteAccount {
    background-color: #ff0000;
    color: white;
    border-color: white;
}
.btnDeleteAccount:hover {
    background-color: white;
    color: #ff0000;
    border-color: #ff0000;
}
.btnDeconnect {
    background-color: #ff0000;
    color: white;
    border-color: white;
}
.btnDeconnect:hover {
    background-color: white;
    color: #ff0000;
    border-color: #ff0000;
}
.btnSearch {
    background-color: black;
    color: #ffcc00;
    border-color: #ffcc00;
}
.btnSearch:hover {
    background-color: #ffcc00;
    color: black;
    border-color: black;
}
.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    border-color: white;
}
.close {
    color: white;
}
.close:hover {
    color: red;
}
.nav-link-user {
    color: #ffcc00;
}
.nav-link-user:hover {
    color: white;
}
.nav-pills .nav-link.active {
    background-color: #ffcc00;
}
.btnSendContent {
    margin: 1rem;
    background-color: black;
    color: #ffcc00;
    border-color: #ffcc00;
}
.btnSendContent:hover {
    background-color: #ffcc00;
    color: black;
    border-color: black;
}
/* Pour avoir le boutton de la navbar en responsive */
.custom-toggler.navbar-toggler {
    border-color: rgba(255, 255, 255, 1);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* Titre des input du form d'ajout de contenu */
.titleSendForm {
    font-size: 1.5rem;
}