/*Image de background accueil du site */
body {
    background-image: url('../images/studio_bg.jpg');
    height: auto;
}
/* LinkResume */
.linkResume {
    width: 2rem;
    margin: 1rem;
}
/* Nom du site */
.siteTitle {
    text-align: center;
    color: white;
    padding-top: 8rem;
    font-family: 'Gugi', cursive;
}
/*Slogan*/
.slogan {
    padding-top: 50px;
}
/* Bouttons de connexion */
.btn-connection{
    padding-top: 150px;
}
.btn {
    color: white;
    border: 2px solid white;
}
.btn:hover {
    background-color: white;
    color: blue;
    border-color: white;
}
/* Footer */
footer {
    margin-top: 5.8rem;
}
.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin-bottom:0; 
    margin-top:2rem;
}
/* Modal */
.modal-dialog {
    background-color: white;
}
.modal-content {
    background-color: black;
}
.btn-connect-modal {
    background-color: black;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Pour avoir le boutton de la navbar en responsive */
.custom-toggler.navbar-toggler {
    border-color: rgba(255, 255, 255, 1);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* Boutton de fermeture de la modal */
.close {
    color: red;
}
.close:hover {
    color: blue;
}
