body {
    font-family: 'Gugi', cursive;
    background-image: url('../images/clip.jpg');
}
.row {
    padding: 0.5rem;
}
.card {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
}
.columnName {
    font-size: 1.7rem;
}
h1 {
    font-size: 4rem;
}
.inscriptionForm {
    padding-bottom: 1.5rem;
}
.textSucces1 {
    font-size: 1.5rem;
}
.textSucces2 {
    font-size: 1rem;
}
.registerGood {
    margin-left: 10rem;
    margin-right: 10rem;
    max-width: 100rem;
    background-color: rgba(0, 0, 0, 0.8);
}
.linkResume {
    width: 1.5rem;
    height: 1.5rem;
}
.btnSendForm {
    background-color: black;
    color: #ffcc00;
    border-color: #ffcc00;
}
.btnSendForm:hover {
    background-color: #ffcc00;
    color: black;
    border-color: black;
}
