/*Image de background accueil du site */
body{
    background-image: url('../images/studio_bg.jpg');
    height: auto;
}
/* LinkResume */
.linkResume{
    width: 2rem;
    margin: 1rem;
}
/* Nom du site */
.siteTitle{
    text-align: center;
    color: white;
    padding-top: 8rem;
    font-family: 'Gugi', cursive;
}
/*Slogan*/
.slogan{
    padding-top: 50px;
}
/* Bouttons de connexion */
.btn-connection{
    padding-top: 150px;
}
.btn{
    color: white;
    border: 2px solid white;
}
.btn:hover{
    background-color: white;
    color: blue;
    border-color: white;
}
/* Footer */
footer{
    margin-top: 4.3rem;
}
.jumbotron{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin-bottom:0; 
    margin-top:2rem;
}
/* Modal */
.modal-dialog{
    background-color: white;
}
.modal-content{
    background-color: black;
}
.btn-connect-modal{
    background-color: black;
}
