body {     
    font-family: 'Gugi', cursive;
    color: white;
    background-image: url('../images/underBg.jpg');
}
h1 {
    padding-top: 2rem;
    padding-bottom: 2rem; 
    font-size: 4rem;
}
p {
    font-size: 1.2rem;
}
.resumeUnder {
    background-color: black;
}
.card-body {
    background-color: black;
}
.card-img-top {
    background-color: black;
}
.card-title {
    text-decoration: underline;
}